/* Start Variables */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-padding: 100px;
    --section-background: #ececec;
    --main-transition: 0.3s;
}

/* Start Frameworks */
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-distribution {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.child-fill-auto {
    min-width: 300px;
    flex: 1;
}
/* Start Global Rules */
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    position: relative;
    width: fit-content;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 0 auto 80px;
    font-size: 30px;
    text-transform: uppercase;
    z-index: 1;
    border-radius: 10px;

}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: calc(var(--main-transition) + 0.2s);
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: right-move calc(var(--main-transition) + 0.2s) linear forwards; 
}

.main-title:hover::after {
    z-index: -1;
    animation: left-move calc(var(--main-transition) + 0.2s) linear forwards;
}

.spikes {
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
    z-index: 1;
}
.dots {
    position: absolute;
    background-image: url("../images/dots.png");
    width: 186px;
    height: 204px;
    background-repeat: no-repeat;
}

.dots-up {
    top: 200px;
    right: 0;
}

.dots-down {
    bottom: 200px;
    left: 0;
}

/* Start Header */
header {
    background-color: white;
    -webkit-box-shadow: 0 0 10px 0 #ddd;
    -moz-box-shadow: 0 0 10px 0 #ddd;
    box-shadow: 0 0 10px 0 #ddd;
}

header .container {
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .container .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 73.5px;
}

@media (max-width: 767px) {
    header .container .logo {
        width: 100%;
        height: 50px;
    }

    header .container nav {
        margin: 0 auto;
    }
}

header .container nav > ul {
    display: flex;
}

header .container nav > ul > li:last-child:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}
header .container nav > ul > li > a {
    height: 73.5px;
    font-size: 18px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    header .container nav > ul > li > a {
        padding: 0 10px;
        font-size: 14px;
        height: 40px;
    }
}

header .container nav > ul > li > a::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 4px;
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

header .container nav > ul > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

header .container nav > ul > li > a:hover::before {
    left: 0;
}

header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    z-index: -1;
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
    header .mega-menu {
        flex-direction: column;
        padding: 5px;
        gap: 0;
    }
}

header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    header .mega-menu .image {
        display: none;
    }
}
header .mega-menu .links {
    min-width: 235px;
    flex: 1;
}

header .mega-menu .links li {
    position: relative;
    transition: var(--main-transition);
}

header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

header .mega-menu .links li:hover {
    padding-left: 15px;
}

header .mega-menu .links li::before {
    content: "";
    position: absolute;
    background-color: #fafafa;
    left: 0;
    width: 0%;
    top: 0;
    height: 100%;
    z-index: -1;
    transition: var(--main-transition);
}

header .mega-menu .links li:hover::before {
    width: 100%;
}

header .mega-menu .links li a {
    display: block;
    color: var(--main-color);
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

header .mega-menu .links li a i {
    margin-right: 10px;
}

/* Start Landing */
.landing {
    position: relative;
    overflow: hidden;
}

.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-4deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 73.5px);
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .landing .container {
        min-height: calc(100vh - 90px);
    }
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0 0;
    color: #666;
    max-width: 500px;
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

.landing .container .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear 0s infinite;
}

@media (max-width: 991px) {
    .landing .container .image {
        display: none;
    }
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: boucing 1.5s infinite;
}

/* Start Articles */
.articles {
    padding: var(--main-padding) 0;
}

.articles .container .box {
    background-color: white;
    min-width: 250px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 10%);
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

@media (min-width: 992px) and (max-width: 1199px) {
    .articles .container  .box:not(:nth-child(-n+6)) {
        flex: 0 1 calc((100% - 80px) / 3);
    }
}
.articles .container .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 20%);
}

.articles .container .box img{
    max-width: 100%;
}

.articles .container .box .content {
    padding: 20px;
}

.articles .container .box .content h3 {
    margin: 0;
}

.articles .container .box .content p {
    color: #777;
    line-height: 1.5;
    margin: 10px 0 0 0;
}

.articles .container .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    justify-content: space-between;
}

.articles .container .box .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .container .box .info i {
    color: var(--main-color);
}

.articles .container .box:hover .info i {
    animation: moving-arrow calc(var(--main-transition) * 2) linear infinite;
}

/* Start Gallery */
.gallery {
    padding: var(--main-padding) 0;
    background-color: var(--section-background);
}

.gallery .container .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .container .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .container .box .image::before {
    content: "";
    position: absolute;
    background-color: #ffffff33;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.gallery .container .box .image:hover::before {
    animation: flashing calc(var(--main-transition) * 2);
}

.gallery .container .box .image img {
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .container .box:hover .image img {
    transform: rotate(-5deg) scale(1.1);
}

/* Start Features */
.features {
    padding: var(--main-padding) 0;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .container .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .container .box .img-holder {
    position: relative;
    overflow: hidden;
}

.features .container .box .img-holder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.features .container .quality .img-holder::before {
    background-color: #f4403699;
}

.features .container .time .img-holder::before {
    background-color: #00968899;
}

.features .container .passion .img-holder::before {
    background-color: #03a9f499;
}

.features .container .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 170px 600px;
    border-style: solid;
    transition: var(--main-transition);
}

.features .container .box:hover .img-holder::after {
    border-width: 0 600px 170px 0px;
}

.features .container .box .img-holder img {
    max-width: 100%;
}

.features .container .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .container .box h2::after {
    content: "";
    position: absolute;
    height: 5px;
    width: calc(100% - 30px);
    bottom: -20px;
    left: 15px;
}

.features .container .quality h2::after {
    background-color: #f44036;
}

.features .container .time h2::after {
    background-color: #009688;
}

.features .container .passion h2::after {
    background-color: #03a9f4;
}

.features .container .box p {
    color: #777;
    font-size: 20px;
    line-height: 2;
    padding: 25px;
    margin: 30px 0
}

.features .container .box a {
    display: block;
    width: fit-content;
    padding: 10px 30px;
    margin: 0 auto 30px;
    border: 3px solid transparent;
    font-weight: bold;
    font-size: 22px;
    border-radius: 6px;
    transition: var(--main-transition);
}

.features .container .quality a {
    color: #f44036;
    border-color: #f44036;
    background-position: right center;
    background-image: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 210% 80%;
}

.features .container .time a {
    color: #009688;
    border-color: #009688;
    background-image: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 210% 80%;
    background-position: right center;
}

.features .container .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 210% 80%;
    background-position: right center;
}

.features .container .box:hover a {
    background-position: left center;
    color: white;
}

/* Start Testimonials */
.testimonials {
    padding: var(--main-padding) 0;
    background-color: var(--section-background);
}

.testimonials .container .box {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.07);
}

.testimonials .container .box img {
    position: absolute;
    right: -10px;
    top: -50px;
    background-color: var(--section-background);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}

.testimonials .container .box h3 {
    margin: 0 0 10px;
}

.testimonials .container .box .title {
    color: #777;
    margin-bottom: 10px;
    display: block;
}

.testimonials .container .box .rate .filled {
    color: #ffc107;
}

.testimonials .container .box p {
    color: #777;
    margin: 10px 0 0;
    line-height: 1.5;
}

/* Start Team Members */
.team-members {
    padding: var(--main-padding) 0;
}

.team-members .container .box {
    position: relative;
}

@media (min-width: 1200px) {
    .team-members .container .box:not(:nth-child(-n+6)) {
        flex: 0 1 calc((100% - 80px) / 3);
    }
}

.team-members .container .box::before {
    content: "";
    position: absolute;
    background-color: #f3f3f3;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 60px);
    border-radius: 10px;
    z-index: -2;
}

.team-members .container .box::after {
    content: "";
    position: absolute;
    background-color: #e4e4e4;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    z-index: -1;
    transition: var(--main-transition);
}

.team-members .container .box:hover::after {
    width: calc(100% - 60px);
}

.team-members .container .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team-members .container .box .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}

.team-members .container .box:hover .data img {
    filter: grayscale(100%);
}

.team-members .container .box .data .social a {
    display: flex;
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.team-members .container .box .data .social a:not(:last-child) {
    margin-bottom: 20px;
}

.team-members .container .box .data .social a i {
    color: #777;
    transition: var(--main-transition);
}

.team-members .container .box .data .social a:hover i {
    color: var(--main-color);
}

.team-members .container .box .info {
    padding-left: 80px;
}

.team-members .container .box .info h3 {
    color: var(--main-color);
    margin-bottom: 0;
    font-size: 22px;
    transition: var(--main-transition);
}

.team-members .container .box:hover .info h3 {
    color: #777;
}

.team-members .container .box .info p {
    margin: 10px 0 25px;
}

/* Start Services */
.services {
    padding: var(--main-padding) 0;
    background-color: var(--section-background);
}

.services .container .box {
    position: relative;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    counter-increment: service;
    transition: var(--main-transition);
}

.services .container .box:hover {
    transform: translateY(-10px);
}

.services .container .box::before {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    transition: var(--main-transition);
}

.services .container .box:hover::before {
    width: 100%;
    background-color: var(--main-color);
}

.services .container .box i {
    display: block;
    margin: 30px auto 20px;
    text-align: center;
    color: #d5d5d5;
}

.services .container .box h3 {
    color: var(--main-color);
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
}

.services .container .box .info {
    position: relative;
    background-color: #f9f9f9;
    padding: 15px;
    text-align: right;
    overflow: hidden;
}

.services .container .box .info::before {
    content: "0" counter(service);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 100%;
    width: 80px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.services .container .box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    height: 100%;
    width: 40px;
    transform: skewX(-30deg);
    border-bottom: 5px solid #d5d5d5;
}

.services .container .box .info a {
    color: var(--main-color);
}

/* Start Our Skills */
.our-skills {
    padding: var(--main-padding) 0;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .our-skills .container img {
        display: none;
    }
}

.our-skills .container .skills {
    flex: 1;
}

.our-skills .container .skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .container .skills .skill h3 span {
    color: var(--main-color);
    padding: 3px 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    border-radius: 4px;
}

.our-skills .container .skills .skill .progress {
    position: relative;
    height: 30px;
    background-color: #eee;
}

.our-skills .container .skills .skill .progress span {
    position: absolute;
    background-color: var(--main-color);
    height: 100%;
    top: 0;
    left: 0;
    transition: width 0.5s linear;
}

/* Start How It Works */
.how-it-works {
    padding: var(--main-padding) 0;
    background-color: var(--section-background);
}

.how-it-works .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .how-it-works .container {
        flex-direction: column;
    }
}
.how-it-works .container .image {
    max-width: 100%;
    margin-right: 100px;
}

@media (max-width: 991px) {
    .how-it-works .container .image {
        margin: 0 0 50px;
    }
}

.how-it-works .container .info .box {
    position: relative;
    background-color: #f6f6f6;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 2px solid white;
    z-index: 1;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .how-it-works .container .info .box {
        flex-direction: column;
        text-align: center;
    }
}

.how-it-works .container .info .box::before {
    content: "";
    position: absolute;
    background-color: #ededed;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: var(--main-transition);
}

.how-it-works .container .info .box:hover::before {
    width: 100%;
    height: 100%;
}

.how-it-works .container .info .box img {
    width: 64px;
    margin-right: 30px;
}

@media (max-width: 767px) {
    .how-it-works .container .info .box img {
        margin: 0 0 30px;
    }
}

.how-it-works .container .info .box .text h3 {
    margin: 0;
    font-size: 22px;
}

.how-it-works .container .info .box .text p {
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}

/* Start Events */
.events {
    position: relative;
    background-color: white;
    padding: var(--main-padding) 0;
}

@media (max-width: 767px) {
    .events .dots-up {
        opacity: 0.75;
    }
}

.events .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.events .container img {
    max-width: 450px;
}

@media (max-width: 991px) {
    .events .container img {
        display: none;
    }
}

.events .container .info {
    flex: 1;
    z-index: 1;
}

.events .container .info .time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
}

.events .container .info .time .unit {
    text-align: center;
    border-radius: 6px;
    border: 1px solid #d4d4d4;
    width: 75px;
    transition: var(--main-transition);
}

.events .container .info .time .unit span {
    display: block;
    transition: var(--main-transition);
}

.events .container .info .time .unit span:first-child {
    color: var(--main-color);
    font-size: 35px;
    padding: 15px;
}

.events .container .info .time .unit span:last-child {
    border-top: 1px solid #d4d4d4;
    font-size: 13px;
    padding: 8px 10px;
}

.events .container .info .time .unit:hover,
.events .container .info .time .unit:hover span:last-child {
    border-color: var(--main-color);
}

.events .container .info .text {
    text-align: center;
}

.events .container .info .text .title {
    margin: 40px 0 0;
    font-size: 30px;
}

.events .container .info .text .description {
    color: #777;
    line-height: 1.7;
    font-size: 19px;
}

.events .container .subscribe {
    width: 100%;
    margin-top: 50px;
}

.events .container .subscribe form {
    width: 600px;
    background-color: #f6f6f6;
    margin: 20px auto;
    padding: 30px 40px;
    display: flex;
    border-radius: 50px;
    gap: 20px;
    z-index: -1;
}

@media (max-width: 767px) {
    .events .container .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 6px;
    }
}

.events .container .subscribe input[type="email"] {
    flex: 1;
    border: none;
    padding: 20px;
    border-radius: 50px;
    caret-color: var(--main-color);
    z-index: 2;
}

.events .container .subscribe input[type="email"]:focus {
    outline: none
}

.events .container .subscribe input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
}

.events .container .subscribe input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events .container .subscribe input[type="submit"] {
    color: white;
    background-color: var(--main-color);
    border-radius: 50px;
    border: none;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}

.events .container .subscribe input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

/* Start Pricing Plans */
.pricing {
    position: relative;
    padding: var(--main-padding) 0;
    background-color: var(--section-background);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .container .box {
    position: relative;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    text-align: center;
    z-index: 1;
    transition: var(--main-transition);
}

@media (min-width: 1200px) {
    .pricing .container .box.popular {
        top: -20px
    }
}

.pricing .container .popular .label {
    position: absolute;
    writing-mode: vertical-lr;
    right: 20px;
    top: 0;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px 35px;
    width: 41px;
}

.pricing .container .popular .label::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border: 20.5px solid white;
    border-color: transparent transparent white transparent;
}

.pricing .container .box::before,
.pricing .container .box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 51%;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--main-transition);
}

.pricing .container .box::before {
    top: 0;
    left: 0;
}

.pricing .container .box:hover::before {
    width: 100%;
}

.pricing .container .box::after {
    height: 49%;
    bottom: 0;
    right: 0;
}

.pricing .container .box:hover::after {
    width: 100%;
}

.pricing .container .box h2 {
    margin: 30px auto;
    letter-spacing: -1px;
}

.pricing .container .box img {
    width: 80px;
    margin-bottom: 30px;
}

.pricing .container .box .price {
    margin-bottom: 20px;
}


.pricing .container .box .price .amount {
    display: block;
    color: var(--main-color);
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 5px;
}

.pricing .container .box .price .time {
    color: #777;
}

.pricing .container .box ul.properties {
    text-align: left;
}

.pricing .container .box ul.properties li {
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .container .box ul.properties li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.pricing .container .box a {
    display: block;
    width: fit-content;
    font-weight: bold;
    padding: 15px 20px;
    margin: 30px auto 40px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 6px;
    transition: var(--main-transition);
}

.pricing .container .box a:hover {
    color: white;
    background-color: var(--main-color);
}

/* Start Videos */
.videos {
    padding: var(--main-padding) 0;
}

.videos .container .holder {
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
    border: 1px solid #ddd;
}

@media (max-width: 991px) {
    .videos .container .holder {
        flex-direction: column;
    }
}

.videos .container .holder .list {
    min-width: 300px;
    background-color: white;
}

.videos .container .holder .list .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    font-weight: bold;
    color: var(--main-color);
}

.videos .container .holder .list ul li {
    padding: 20px;
    border-top: 1px solid var(--section-background);
    cursor: pointer;
    transition: var(--main-transition);
}

.videos .container .holder .list ul li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.videos .container .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}

.videos .container .holder .preview {
    background-color: #e4e4e4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videos .container .holder .preview img {
    max-width: 100%;
}

.videos .container .holder .preview .info {
    padding: 20px;
    background-color: white;
    margin-top: 10px;
}

/* Start Stats */
.stats {
    position: relative;
    padding: var(--main-padding) 0;
    background-image: url("../images/stats.jpg");
    background-size: cover;
}

.stats h2 {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95)
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .container .box {
    position: relative;
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    opacity: 0.8;
    transition: var(--main-transition)
}

.stats .container .box:hover {
    opacity: 1;
}

.stats .container .box::before,
.stats .container .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 1s;
}

.stats .container .box::before {
    bottom: 0;
    left: 0
}

.stats .container .box::after {
    top: 0;
    right: 0
}

.stats .container .box:hover::before,
.stats .container .box:hover::after{
    height: 100%;
}

.stats .container .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin: 10px auto;
}

.stats .container .box .text {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

/* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .image {
    position: relative;
    background-image: url("../images/discount-background1.jpg");
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    animation: change-background 10s linear infinite;
}

.discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1787e0f7;
    z-index: -1;
}

@media (max-width: 991px){
    .discount .image {
        flex-basis: 100%;
    }
}

.discount .content  {
    text-align: center;
    padding: 0 20px;
}

.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount .content img {
    width: 300px;
    max-width: 100%;
}

.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    padding-bottom: 50px;
}

@media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
    }
}

.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}

.discount .form textarea.input {
    resize: none;
    height: 200px;
}

.discount .form .input:focus {
    outline: none;
}

.discount .form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}

.discount .form input[type="submit"]:hover {
    background-color: var(--main-color-alt)
}

/* Start Footer */
footer {
    background-color: #191919;
    padding-top: 70px;
}

@media (max-width: 767px) {
    footer {
        text-align: center;
    }
}

footer .container .box.child-fill-auto {
    min-width: 250px;
}

footer .container .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

footer .container .box .social {
    display: flex;
}

@media (max-width: 767px) {
    footer .container .box .social {
        justify-content: center;
    }
}

footer .container .box .social li {
    margin-right: 10px;
}

footer .container .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}

footer .container .box .social li a.facebook:hover {
    background-color: #1877f2;
}

footer .container .box .social li a.twitter:hover {
    background-color: #1da1f2;
}

footer .container .box .social li a.youtube:hover {
    background-color: #ff0000;
}

footer .container .box .text {
    line-height: 2;
    color: #b9b9b9;
}
footer .container .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}

footer .container .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

footer .container .box .links li:hover {
    padding-left: 15px;
}

footer .container .box .links li:hover a {
    color: white;
}

footer .container .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}

footer .container .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

footer .container .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    footer .container .box .line {
        flex-direction: column;
    }
}

footer .container .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}

@media (max-width: 767px) {
    footer .container .box .line i {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

footer .container .box .line .info {
    line-height: 1.7;
    flex: 1;
}
footer .container .box .line .info span {
    display: block;
}

footer .container .box.footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}

footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}

footer .copyright span:first-child {
    margin: 0 5px;
    font-size: 22px;
    color: var(--main-color);
}

footer .copyright span:last-child {
    margin: 0 2px;
}

/* Start Animation */
@keyframes up-and-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

@keyframes boucing {
    20%,
    50%,
    80% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes right-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 10px;
        width: 55%;
        height: 100%;
    }
}

@keyframes left-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 10px;
        width: 55%;
        height: 100%;
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}

@keyframes flashing {
    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes change-background {
    0%,
    100% {
        background-image: url("../images/discount-background1.jpg");
    }

    50% {
        background-image: url("../images/discount-background2.jpg");
    }
}