@use "../abstracts/index" as *;

/* Start Services */
.services {
  padding: var(--main-padding) 0;
  background-color: var(--section-background);
  .container {
    @include responsive-distribution;
  }
  .box {
    @include child-fill-auto;
    position: relative;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    counter-increment: service;
    transition: var(--main-transition);
    &::before {
      content: "";
      display: block;
      margin: auto;
      height: 3px;
      width: 0;
      transition: var(--main-transition);
    }
    &:hover {
      transform: translateY(-10px);
      &::before {
        width: 100%;
        background-color: var(--main-color);
      }
    }
    i {
      display: block;
      margin: 30px auto 20px;
      text-align: center;
      color: #d5d5d5;
    }
    h3 {
      color: var(--main-color);
      text-align: center;
      margin-bottom: 40px;
      font-size: 1.5em;
    }
    .info {
      position: relative;
      background-color: #f9f9f9;
      padding: 10px 15px;
      text-align: right;
      overflow: hidden;
      &::before {
        content: "0" counter(service);
        position: absolute;
        background-color: var(--main-color);
        color: white;
        font-weight: bold;
        font-size: 2em;
        height: 100%;
        width: 2.275em;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: #d5d5d5;
        top: 0;
        left: 3.4em;
        height: 110%;
        width: 2em;
        transform: skewX(-30deg);
        border-bottom: 5px solid #d5d5d5;
      }
      a {
        color: var(--main-color);
      }
    }
  }
}